<div class="row"></div>
{{#if error}}
  <div class="col s12 m5" id="error">
        <div class="card-panel red lighten-1">
          <span class="white-text">{{error}}
          </span>
        </div>
      </div>
{{/if}}
  
{{#each errors}}
  
      <div class="col s12" id="errors">
        <div class="card-panel red lighten-1">
          <span class="white-text">{{text}}
          </span>
        </div>
      </div>
{{else}}

{{/each}}