<div class="login-margin">
	<div class="row">

		<img src="/img/logo_name.png" class="logo_name">

		<div class="row"></div>
		<div id="loginpage" class="col s8 m6 l4 offset-s2 offset-l4 offset-m3 z-depth-3">

			<h4 class="">Login to your account</h4>
			<form action="/user/login" method="post">
				<div class="light-green lighten-3 green-text text-darken-4 ex-block">
					<strong>Example: </strong>nurseId_0055, murseId_1112 </div>
				<div class="input-field">
					<input type="text" name="username" id="username" class="validate" required>
					<label for="username">
						<i class="fa fa-user"></i> Username</label>
				</div>
				<div class="input-field">
					<input type="password" name="password" id="password" class="validate" required>
					<label for="pasword">
						<i class="fa fa-lock"></i> Password</label>
				</div>
				<br>
				<div class="right">
					<button type="submit" class="btn waves-effect waves-light right green">Login</button>
				</div>
			</form>
		</div>
		<div class="row"></div>
		<div class="row">
			<p class="white-text text-darken-1 center-align">Version: 1.0.0 <Br>Copyright &copy; 2018</p>
		</div>
	</div>
</div>